<img style="margin: auto" src="https://www.ntu.edu.sg/images/default-source/corporate/ntu_logo.png?sfvrsn=b5dd1d82_5" width=500/>

#  SC2207: Lab 5
TCCA Group 2

<table>
      <thead>
        <tr class="header">
          <th><strong>Full Name</strong></th>
          <th><strong>Individual Contribution to Lab 5 Submission</strong></th>
          <th><strong>Percentage of Contribution</strong></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td>Zhu Zhanyan</td>
          <td>SQL DDL & Queries</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.07813in; height: 0.43125in"
            />
          </td>
        </tr>
        <tr class="even">
          <td>Chua Ze Ming</td>
          <td>SQL DDL & Queries</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 0.98311in; height: 0.42232in"
            />
          </td>
        </tr>
        <tr class="odd">
          <td>Nguyen Ngoc Minh</td>
          <td>SQL DDL & Queries</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.09896in; height: 0.34052in"
            />
          </td>
        </tr>
        <tr class="even">
          <td>Natalie Ng Shi En</td>
          <td>SQL DDL & Queries</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.49393in; height: 0.37874in"
            />
          </td>
        </tr>
        <tr class="odd">
          <td>Donovan Ang</td>
          <td>SQL DDL & Queries</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.18229in; height: 0.33614in"
            />
          </td>
        </tr>
        <tr class="even">
          <td>Issac Lim</td>
          <td>SQL DDL & Queries</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.47917in; height: 0.43056in"
            />
          </td>
        </tr>
      </tbody>
    </table>

# Setup
Install [MS SQL Server ODBC driver](https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver16).

In [1]:
# Add the signature to trust the Microsoft repo
# For Ubuntu versions < 24.04
!curl https://packages.microsoft.com/keys/microsoft.asc | sudo tee /etc/apt/trusted.gpg.d/microsoft.asc
# For Ubuntu versions >= 24.04
!curl https://packages.microsoft.com/keys/microsoft.asc | sudo gpg --dearmor -o /usr/share/keyrings/microsoft-prod.gpg

# Add repo to apt sources
!curl https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list

# Install the driver%%
!sudo apt-get update
!sudo ACCEPT_EULA=Y apt-get install -y msodbcsql18
# optional: for bcp and sqlcmd
!sudo ACCEPT_EULA=Y apt-get install -y mssql-tools18


Ensure packages are installed with `pip install -r requirements.txt`

In [2]:
%pip install jupysql==0.10.14 jupysql-plugin==0.4.5 pyodbc==5.1.0

Requirement already satisfied: jupysql==0.10.14 in ./.venv/lib/python3.10/site-packages (0.10.14)
Requirement already satisfied: jupysql-plugin==0.4.5 in ./.venv/lib/python3.10/site-packages (0.4.5)
Requirement already satisfied: pyodbc==5.1.0 in ./.venv/lib/python3.10/site-packages (5.1.0)
Requirement already satisfied: sqlglot>=11.3.7 in ./.venv/lib/python3.10/site-packages (from jupysql==0.10.14) (25.25.0)
Requirement already satisfied: jinja2 in ./.venv/lib/python3.10/site-packages (from jupysql==0.10.14) (3.1.4)
Requirement already satisfied: sqlparse in ./.venv/lib/python3.10/site-packages (from jupysql==0.10.14) (0.5.1)
Requirement already satisfied: prettytable in ./.venv/lib/python3.10/site-packages (from jupysql==0.10.14) (3.11.0)
Requirement already satisfied: ploomber-core>=0.2.7 in ./.venv/lib/python3.10/site-packages (from jupysql==0.10.14) (0.2.25)
Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.10/site-packages (from jupysql==0.10.14) (2.0.35)
Requirement already satisfied: ipython-genutils>=0.1.0 in ./.venv/lib/python3.10/site-packages (from jupysql==0.10.14) (0.2.0)
Requirement already satisfied: pyyaml in ./.venv/lib/python3.10/site-packages (from ploomber-core>=0.2.7->jupysql==0.10.14) (6.0.2)
Requirement already satisfied: posthog in ./.venv/lib/python3.10/site-packages (from ploomber-core>=0.2.7->jupysql==0.10.14) (3.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in ./.venv/lib/python3.10/site-packages (from jinja2->jupysql==0.10.14) (2.1.5)
Requirement already satisfied: wcwidth in ./.venv/lib/python3.10/site-packages (from prettytable->jupysql==0.10.14) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.10/site-packages (from sqlalchemy->jupysql==0.10.14) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in ./.venv/lib/python3.10/site-packages (from sqlalchemy->jupysql==0.10.14) (3.1.1)
Requirement already satisfied: monotonic>=1.5 in ./.venv/lib/python3.10/site-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (1.6)
Requirement already satisfied: requests<3.0,>=2.7 in ./.venv/lib/python3.10/site-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2.32.3)
Requirement already satisfied: backoff>=1.10.0 in ./.venv/lib/python3.10/site-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in ./.venv/lib/python3.10/site-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.10/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.10/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.10/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2024.8.30)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.10/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2.2.3)

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.


## Imports

In [3]:
import os
import pyodbc
from getpass import getpass

from sqlalchemy import create_engine
from sqlalchemy.engine import URL

# ensure sql server driver / tools accessible on path
os.environ["PATH"] = f"{os.environ['PATH']}:/opt/mssql-tools18/bin"
%load_ext sql

## Database Credentials

In [4]:
password = os.environ.get("MSSQL_SA_PASSWORD") or getpass("SA user password: ")

## Setup Database Connection

In [5]:
connection_url = URL.create(
    "mssql+pyodbc",
    username="sa",
    password=password,
    # TODO change this to zemings IP & port BUT CHANGE IT BACK BEFORE COMMITTING
    host="localhost",
    port=1433,
    # zemings IP & port
    # host="152.42.253.110",
    # port=8080,
    database="master",
    query={
        "driver": "ODBC Driver 18 for SQL Server",
        "Encrypt": "yes",
        "TrustServerCertificate": "yes",
    },
)
engine = create_engine(connection_url)
%sql engine
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

# DDL
Define SQL DDL & Queries with SQL DDL.

In [6]:
%%sql
-- User table
CREATE TABLE [User] (
    Nric VARCHAR(9) PRIMARY KEY,
    [Name] VARCHAR(100) NOT NULL,
    ContactNum VARCHAR(20) NOT NULL,
    [Password] VARCHAR(255) NOT NULL,
    Email VARCHAR(100) UNIQUE NOT NULL
);

-- Customer table
CREATE TABLE Customer (
    Nric VARCHAR(9) PRIMARY KEY,
    Intention VARCHAR(100),
    FOREIGN KEY (Nric) REFERENCES [User] (Nric)
);

-- Agency table
CREATE TABLE Agency (
    [Name] VARCHAR(100) PRIMARY KEY,
    EstablishedYear INT NOT NULL
);

CREATE TABLE Agent (
    Nric VARCHAR(9) PRIMARY KEY,
    LicenseNum VARCHAR(50) UNIQUE NOT NULL,
    LicenseExpiry DATE NOT NULL,
    AgencyName VARCHAR(100),
    FOREIGN KEY (Nric) REFERENCES [User] (Nric),
    FOREIGN KEY (AgencyName) REFERENCES Agency([Name])
);

-- PropertyOwner table
CREATE TABLE PropertyOwner (
    Nric VARCHAR(9) PRIMARY KEY,
    [Name] VARCHAR(100) NOT NULL,
    ContactNum VARCHAR(20) UNIQUE NOT NULL,
    Gender CHAR(1) CHECK (Gender IN ('M', 'F')),
    Age INT CHECK (Age > 0)
);

-- Listing table
CREATE TABLE Listing (
    Id INT PRIMARY KEY NOT NULL,
    UnitNum VARCHAR(50) NOT NULL,
    CreatedOn DATE NOT NULL,
    AgentNric VARCHAR(9) FOREIGN KEY REFERENCES Agent (Nric)
);

-- Property tables
CREATE TABLE PropertyMain (
    UnitNum VARCHAR(50) PRIMARY KEY,
    PropertyOwnerId INT NOT NULL,
    [Type] VARCHAR(50) NOT NULL, -- noqa: RF06
    Postcode VARCHAR(10) NOT NULL,
    Size INT,
    Furnishing VARCHAR(50),
    EngagementStatus VARCHAR(50)
);

CREATE TABLE Property2 (
    Postcode VARCHAR(10) PRIMARY KEY,
    Street VARCHAR(100) NOT NULL
);

ALTER TABLE PropertyMain
ADD CONSTRAINT FK_Postcode
FOREIGN KEY (Postcode) REFERENCES Property2 (Postcode);

-- Sale tables
CREATE TABLE SaleMain (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    Price DECIMAL(10, 2) NOT NULL,
    BuildYear INT NOT NULL
);

CREATE TABLE Sale2 (
    BuildYear INT PRIMARY KEY,
    Tenure INT NOT NULL
);

ALTER TABLE SaleMain
ADD CONSTRAINT FK_BuildYear
FOREIGN KEY (BuildYear) REFERENCES Sale2 (BuildYear);

-- Rental table
CREATE TABLE Rental (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    HasUtilities BIT NOT NULL,
    HasAircon BIT NOT NULL
);

-- ShortTermRental
CREATE TABLE ShortTermRental (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    DailyRental FLOAT NOT NULL
);

-- LongTermRental
CREATE TABLE LongTermRental (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    MonthlyRental FLOAT NOT NULL,
    MinStay INT NOT NULL,
    AllowVisitors BIT NOT NULL
);

-- Engagement table
CREATE TABLE Engagement (
    CustomerId VARCHAR(9),
    ListingId INT,
    PRIMARY KEY (CustomerId, ListingId),
    FOREIGN KEY (CustomerId) REFERENCES Customer (Nric),
    FOREIGN KEY (ListingId) REFERENCES Listing (Id)
);

-- ViewingHistory
CREATE TABLE ViewingHistory (
    CustomerId VARCHAR(9) FOREIGN KEY REFERENCES Customer (Nric),
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    DateTime DATETIME2 NOT NULL,
    Status VARCHAR(64) NOT NULL
);

-- Chat table
CREATE TABLE Chat (
    CustomerId VARCHAR(9) FOREIGN KEY REFERENCES Customer (Nric),
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    [Timestamp] TIME NOT NULL,
    Content VARCHAR(512)
);

-- ReviewLog table
CREATE TABLE ReviewLog (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    UserNric VARCHAR(9) FOREIGN KEY REFERENCES [User] (Nric),
    DateTime TIME NOT NULL,
    Comment VARCHAR(512) NOT NULL,
    Rating INT NOT NULL
);

-- Appointment table
CREATE TABLE Appointment (
    CustomerId VARCHAR(9),
    ListingId INT,
    AppointmentDate DATE,
    AppointmentTime TIME,
    PRIMARY KEY (CustomerId, ListingId, AppointmentDate),
    FOREIGN KEY (CustomerId, ListingId) REFERENCES Engagement (
        CustomerId, ListingId
    )
);

-- AppointmentLog table
CREATE TABLE AppointmentLog (
    CustomerId VARCHAR(9),
    ListingId INT,
    AppointmentDate DATE,
    [Time] DATETIME2,
    Status VARCHAR(50),
    ActionBy VARCHAR(9),
    PRIMARY KEY (CustomerId, ListingId, AppointmentDate, Time),
    FOREIGN KEY (
        CustomerId, ListingId, AppointmentDate
    ) REFERENCES Appointment (
        CustomerId, ListingId, AppointmentDate
    ),
    FOREIGN KEY (ActionBy) REFERENCES [User] (Nric)
);

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

++
||
++
++

In [7]:
%%sql
SELECT
  table_name
FROM
  INFORMATION_SCHEMA.TABLES
WHERE
  table_name NOT LIKE 'spt_%'
  AND table_name <> 'MSreplication_options'

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+-----------------+
|    table_name   |
+-----------------+
|       User      |
|     Customer    |
|      Agency     |
|      Agent      |
|  PropertyOwner  |
|     Listing     |
|   PropertyMain  |
|    Property2    |
|     SaleMain    |
|      Sale2      |
|      Rental     |
| ShortTermRental |
|  LongTermRental |
|    Engagement   |
|  ViewingHistory |
|       Chat      |
|    ReviewLog    |
|   Appointment   |
|  AppointmentLog |
+-----------------+

`sqt_*` tables are system Tables and should be ignored.

# Data
Insert data into SQL DDL & Queries for later queries:

In [8]:
%%sql

-- Insert data into User table
INSERT INTO [User] (Nric, Name, ContactNum, Password, Email) VALUES
('S1234567A', 'John Doe', '+6598765432', 'password123', 'john.doe@example.com'),
(
    'S2345678B',
    'Jane Smith',
    '+6598765433',
    'password456',
    'jane.smith@example.com'
),
('S3456789C', 'Bob Tan', '+6598765434', 'password789', 'bob.tan@example.com'),
(
    'S4567890D',
    'Alice Lee',
    '+6598765435',
    'password321',
    'alice.lee@example.com'
),
(
    'S5678901E',
    'Charlie Lim',
    '+6598765436',
    'password654',
    'charlie.lim@example.com'
),
(
    'S6789012F',
    'Desmond Ang',
    '+6581235394',
    'password376',
    'desmond.ang@example.com'
),
(
    'S7890123G',
    'Elise Chong',
    '+6592750725',
    'password563',
    'elise.chong@example.com'
),
('S8901234H', 'Frank Ow', '+6590278150', 'password062', 'frank.ow@example.com'),
(
    'S8901234J',
    'Gerry Tan',
    '+6581630472',
    'password592',
    'gerry.tan@example.com'
),
(
    'S9012345K',
    'Harold Poon',
    '+658224710',
    'password284',
    'harold.poon@example.com'
),
('S9123456L', 'Isaac Wong', '+6581354673', 'password197', 'isaac.wong@example.com'),
('S9234567M', 'Julia Teo', '+6582345612', 'password298', 'julia.teo@example.com'),
('S9345678N', 'Kenneth Koh', '+6598457623', 'password712', 'kenneth.koh@example.com'),
('S9456789P', 'Lydia Ng', '+6597456123', 'password916', 'lydia.ng@example.com'),
('S9567890Q', 'Marcus Lee', '+6583452716', 'password333', 'marcus.lee@example.com');

-- Insert data into Customer table
INSERT INTO Customer (Nric, Intention) VALUES
('S1234567A', 'Looking for new home'),
('S2345678B', 'Selling existing property'),
('S3456789C', 'Investment opportunities'),
('S4567890D', 'Renting options'),
('S5678901E', 'Exploring market trends');

-- Insert data into Agency table
INSERT INTO Agency (Name, EstablishedYear) VALUES
('PropNex Realty Pte Ltd', '1999'),
('ERA Realty Network Pte Ltd', '1982'),
('Huttons Asia Pte Ltd', '2002'),
('OrangeTee & Tie Pte Ltd', '2000'),
('SRI Pte Ltd', '2016');

-- Insert data into Agent table
INSERT INTO Agent (Nric, LicenseNum, LicenseExpiry, AgencyName) VALUES
('S9123456L', 'LIC12345', '2025-12-31', 'PropNex Realty Pte Ltd'),
('S9234567M', 'LIC23456', '2024-11-30', 'ERA Realty Network Pte Ltd'),
('S9345678N', 'LIC34567', '2026-10-15', 'Huttons Asia Pte Ltd'),
('S9456789P', 'LIC45678', '2023-09-20', 'OrangeTee & Tie Pte Ltd'),
('S9567890Q', 'LIC56789', '2025-08-25', 'SRI Pte Ltd')

-- Insert data into PropertyOwner table
INSERT INTO PropertyOwner (Nric, Name, ContactNum, Gender, Age) VALUES
('S6789012F', 'Desmond Ang', '+6581235394', 'M', '50'),
('S7890123G', 'Elise Chong', '+6592750725', 'F', '26'),
('S8901234H', 'Frank Ow', '+6590278150', 'M', '44'),
('S8901234J', 'Gerry Tan', '+6581630472', 'F', '63'),
('S9012345K', 'Harold Poon', '+658224710', 'M', '38');

-- Insert data into Listing table
INSERT INTO Listing (Id, CreatedOn, UnitNum, AgentNric) VALUES
(1, '2023-03-15', '13-05', 'S9123456L'),
(2, '2021-07-22', '01-018', 'S9234567M'),
(3, '2022-11-05', '17-364', 'S9345678N'),
(4, '2024-01-09', '09-02', 'S9345678N'),
(5, '2020-05-30', '15-127', 'S9456789P'),
(6, '2023-05-18', '10-001', 'S9234567M'),
(7, '2023-06-25', '11-011', 'S9345678N');

-- Insert into Property2 before inserting into PropertyMain
INSERT INTO Property2 (Postcode, Street) VALUES
('123456', 'Orchard Road'),
('123467', 'Ang Mo Kio Road'),
('123478', 'Bukit Timah Road'),
('123489', 'Ang Mo Kio Avenue'),
('123490', 'Yishun Ring Road'),
('123491', 'Jurong West Avenue'),
('123492', 'Changi Road');

-- Insert data into PropertyMain table
INSERT INTO PropertyMain (
    UnitNum, PropertyOwnerId, Type, Postcode, Size, Furnishing
) VALUES
('13-05', 1, 'Condo', '123456', 1000, 'Furnished'),
('01-018', 2, 'Apartment', '123467', 850, 'Unfurnished'),
('17-364', 3, 'HDB', '123478', 900, 'Partially Furnished'),
('09-02', 4, 'Bungalow', '123489', 2000, 'Furnished'),
('15-127', 5, 'Terrace', '123490', 1200, 'Unfurnished'),
('10-001', 6, 'Condo', '123491', 950, 'Furnished'),
('11-011', 7, 'Bungalow', '123492', 1800, 'Partially Furnished');

-- Insert into Sale_2 before inserting into Sale_Main
INSERT INTO Sale2 (BuildYear, Tenure) VALUES
(1930, 99),
(2012, 999),
(1935, 99),
(2018, 999),
(2020, 99);

-- Insert data into Sale_Main table
INSERT INTO SaleMain (ListingId, Price, BuildYear) VALUES
(1, 850000, 2012),
(2, 650000, 1930),
(3, 750000, 2018),
(4, 920000, 1935),
(5, 670000, 2020);

-- Insert data into Rental table
INSERT INTO Rental (ListingId, HasUtilities, HasAirCon) VALUES
(1, 'TRUE', 'TRUE'),
(2, 'FALSE', 'TRUE'),
(3, 'TRUE', 'FALSE'),
(4, 'TRUE', 'TRUE'),
(5, 'FALSE', 'FALSE');

-- Insert data into ShortTermRental table
INSERT INTO ShortTermRental (ListingId, DailyRental) VALUES
(1, 20.20),
(2, 30.30),
(3, 25.20),
(4, 20.30),
(5, 24.20);

-- Insert data into LongTermRental table
INSERT INTO LongTermRental (
    ListingId, MonthlyRental, MinStay, AllowVisitors
) VALUES
(1, 345.50, 21, 'FALSE'),
(2, 332.50, 22, 'TRUE'),
(3, 300.40, 20, 'TRUE'),
(4, 355.50, 25, 'FALSE'),
(5, 322.50, 24, 'TRUE');

-- Insert data into Engagement table
INSERT INTO Engagement (CustomerId, ListingId) VALUES
('S1234567A', 1),
('S1234567A', 2),
('S1234567A', 3),
('S1234567A', 4),
('S1234567A', 5),
('S2345678B', 1),
('S2345678B', 2),
('S2345678B', 3),
('S2345678B', 4),
('S2345678B', 5),
('S3456789C', 1),
('S3456789C', 2),
('S3456789C', 3),
('S3456789C', 4),
('S4567890D', 4),
('S5678901E', 5),
('S4567890D', 2),
('S5678901E', 3),
('S4567890D', 5),
('S5678901E', 4);

-- Insert data into Appointment table
INSERT INTO Appointment (CustomerId, ListingId, AppointmentDate, AppointmentTime) VALUES
-- 2020 appointments
('S1234567A', 1, '2020-03-15', '14:00'),
('S2345678B', 2, '2020-04-21', '10:30'),
('S3456789C', 3, '2020-05-22', '16:45'),
('S4567890D', 4, '2020-06-10', '11:00'),
('S5678901E', 5, '2020-07-15', '15:30'),
('S1234567A', 3, '2020-08-20', '09:00'),
('S2345678B', 4, '2020-09-25', '14:30'),
-- 2021 appointments
('S1234567A', 1, '2021-02-15', '14:00'),
('S2345678B', 2, '2021-03-21', '10:30'),
('S3456789C', 3, '2021-04-22', '16:45'),
('S4567890D', 4, '2021-05-10', '11:00'),
('S5678901E', 5, '2021-06-15', '15:30'),
('S1234567A', 2, '2021-07-20', '09:00'),
('S2345678B', 3, '2021-08-25', '14:30'),
('S3456789C', 4, '2021-09-30', '16:00'),
-- 2022 appointments
('S1234567A', 1, '2022-02-15', '14:00'),
('S2345678B', 2, '2022-03-21', '10:30'),
('S3456789C', 3, '2022-04-22', '16:45'),
('S4567890D', 4, '2022-05-10', '11:00'),
('S5678901E', 5, '2022-06-15', '15:30'),
('S1234567A', 4, '2022-07-20', '09:00'),
('S2345678B', 5, '2022-08-25', '14:30'),
('S3456789C', 1, '2022-09-30', '16:00'),
-- 2023 appointments
('S1234567A', 1, '2023-03-15', '14:00'),
('S2345678B', 2, '2023-04-21', '10:30'),
('S3456789C', 3, '2023-05-22', '16:45'),
('S4567890D', 4, '2023-06-10', '11:00'),
('S5678901E', 5, '2023-07-15', '15:30'),
('S1234567A', 5, '2023-08-20', '09:00'),
('S2345678B', 1, '2023-09-25', '14:30'),
('S3456789C', 2, '2023-10-30', '16:00'),
-- Extra 2020 appointments
('S1234567A', 2, '2020-10-15', '14:00'),
('S2345678B', 3, '2020-11-21', '10:30'),
('S3456789C', 1, '2020-12-22', '16:45'),
('S4567890D', 2, '2020-10-10', '11:00'),
('S5678901E', 3, '2020-11-15', '15:30'),
-- Extra 2021 appointments
('S1234567A', 3, '2021-10-20', '09:00'),
('S2345678B', 3, '2021-11-25', '14:30'),
('S3456789C', 3, '2021-12-30', '16:00'),
-- Extra 2022 appointments
('S1234567A', 4, '2022-10-15', '14:00'),
('S2345678B', 4, '2022-11-21', '10:30'),
('S3456789C', 4, '2022-12-22', '16:45'),
('S4567890D', 5, '2022-10-10', '11:00'),
('S5678901E', 5, '2022-11-15', '15:30'),
-- Extra 2023 appointments
('S1234567A', 1, '2023-11-20', '09:00'),
('S2345678B', 2, '2023-11-25', '14:30'),
('S3456789C', 3, '2023-11-30', '16:00');

-- Insert data into AppointmentLog table
INSERT INTO AppointmentLog (CustomerId, ListingId, AppointmentDate, Time, Status, ActionBy) VALUES
-- 2020 completed appointments (varying completion rates)
('S1234567A', 1, '2020-03-15', '2020-03-15 14:30:00', 'Completed', 'S9123456L'),
('S2345678B', 2, '2020-04-21', '2020-04-21 11:15:00', 'Completed', 'S9234567M'),
('S3456789C', 3, '2020-05-22', '2020-05-22 15:30:00', 'Cancelled', 'S9345678N'),
('S4567890D', 4, '2020-06-10', '2020-06-10 11:45:00', 'Completed', 'S9456789P'),
('S5678901E', 5, '2020-07-15', '2020-07-15 16:15:00', 'Completed', 'S9567890Q'),
('S1234567A', 3, '2020-08-20', '2020-08-20 09:45:00', 'Completed', 'S9345678N'),
('S2345678B', 4, '2020-09-25', '2020-09-25 13:15:00', 'Cancelled', 'S9456789P'),
-- 2021 completed appointments
('S1234567A', 1, '2021-02-15', '2021-02-15 14:45:00', 'Completed', 'S9123456L'),
('S2345678B', 2, '2021-03-21', '2021-03-21 11:15:00', 'Completed', 'S9234567M'),
('S3456789C', 3, '2021-04-22', '2021-04-22 17:30:00', 'Completed', 'S9345678N'),
('S4567890D', 4, '2021-05-10', '2021-05-10 10:15:00', 'Cancelled', 'S9456789P'),
('S5678901E', 5, '2021-06-15', '2021-06-15 16:15:00', 'Completed', 'S9567890Q'),
('S1234567A', 2, '2021-07-20', '2021-07-20 09:45:00', 'Completed', 'S9234567M'),
('S2345678B', 3, '2021-08-25', '2021-08-25 15:15:00', 'Completed', 'S9345678N'),
('S3456789C', 4, '2021-09-30', '2021-09-30 15:30:00', 'Cancelled', 'S9456789P'),
-- 2022 completed appointments
('S1234567A', 1, '2022-02-15', '2022-02-15 14:45:00', 'Completed', 'S9123456L'),
('S2345678B', 2, '2022-03-21', '2022-03-21 11:15:00', 'Completed', 'S9234567M'),
('S3456789C', 3, '2022-04-22', '2022-04-22 17:30:00', 'Completed', 'S9345678N'),
('S4567890D', 4, '2022-05-10', '2022-05-10 11:45:00', 'Completed', 'S9456789P'),
('S5678901E', 5, '2022-06-15', '2022-06-15 14:45:00', 'Cancelled', 'S9567890Q'),
('S1234567A', 4, '2022-07-20', '2022-07-20 09:45:00', 'Completed', 'S9456789P'),
('S2345678B', 5, '2022-08-25', '2022-08-25 15:15:00', 'Completed', 'S9567890Q'),
('S3456789C', 1, '2022-09-30', '2022-09-30 16:45:00', 'Completed', 'S9123456L'),
-- 2023 completed appointments
('S1234567A', 1, '2023-03-15', '2023-03-15 14:45:00', 'Completed', 'S9123456L'),
('S2345678B', 2, '2023-04-21', '2023-04-21 11:15:00', 'Completed', 'S9234567M'),
('S3456789C', 3, '2023-05-22', '2023-05-22 17:30:00', 'Completed', 'S9345678N'),
('S4567890D', 4, '2023-06-10', '2023-06-10 10:15:00', 'Cancelled', 'S9456789P'),
('S5678901E', 5, '2023-07-15', '2023-07-15 16:15:00', 'Completed', 'S9567890Q'),
('S1234567A', 5, '2023-08-20', '2023-08-20 09:45:00', 'Completed', 'S9567890Q'),
('S2345678B', 1, '2023-09-25', '2023-09-25 15:15:00', 'Completed', 'S9123456L'),
('S3456789C', 2, '2023-10-30', '2023-10-30 16:45:00', 'Completed', 'S9234567M'),
-- Extra 2020 completions for S9123456L and S9234567M
('S1234567A', 2, '2020-10-15', '2020-10-15 14:45:00', 'Completed', 'S9123456L'),
('S2345678B', 3, '2020-11-21', '2020-11-21 11:15:00', 'Completed', 'S9123456L'),
('S3456789C', 1, '2020-12-22', '2020-12-22 17:30:00', 'Completed', 'S9123456L'),
('S4567890D', 2, '2020-10-10', '2020-10-10 11:45:00', 'Completed', 'S9234567M'),
('S5678901E', 3, '2020-11-15', '2020-11-15 16:15:00', 'Completed', 'S9234567M'),
-- Extra 2021 completions for S9345678N
('S1234567A', 3, '2021-10-20', '2021-10-20 09:45:00', 'Completed', 'S9345678N'),
('S2345678B', 3, '2021-11-25', '2021-11-25 15:15:00', 'Completed', 'S9345678N'),
('S3456789C', 3, '2021-12-30', '2021-12-30 16:45:00', 'Completed', 'S9345678N'),
-- Extra 2022 completions for S9456789P and S9567890Q
('S1234567A', 4, '2022-10-15', '2022-10-15 14:45:00', 'Completed', 'S9456789P'),
('S2345678B', 4, '2022-11-21', '2022-11-21 11:15:00', 'Completed', 'S9456789P'),
('S3456789C', 4, '2022-12-22', '2022-12-22 17:30:00', 'Completed', 'S9456789P'),
('S4567890D', 5, '2022-10-10', '2022-10-10 11:45:00', 'Completed', 'S9567890Q'),
('S5678901E', 5, '2022-11-15', '2022-11-15 16:15:00', 'Completed', 'S9567890Q'),
-- Extra 2023 completions spread across agents
('S1234567A', 1, '2023-11-20', '2023-11-20 09:45:00', 'Completed', 'S9123456L'),
('S2345678B', 2, '2023-11-25', '2023-11-25 15:15:00', 'Completed', 'S9234567M'),
('S3456789C', 3, '2023-11-30', '2023-11-30 16:45:00', 'Completed', 'S9345678N'),

-- 2023 recent appointment status flows (Requested -> Confirmed/Rejected)
('S1234567A', 1, '2023-11-20', '2023-11-18 15:30:00', 'Requested', 'S1234567A'),
('S1234567A', 1, '2023-11-20', '2023-11-18 16:45:00', 'Confirmed', 'S9123456L'),

('S2345678B', 2, '2023-11-25', '2023-11-23 10:15:00', 'Requested', 'S2345678B'),
('S2345678B', 2, '2023-11-25', '2023-11-23 11:30:00', 'Rejected', 'S9234567M'),

('S3456789C', 3, '2023-11-30', '2023-11-27 09:00:00', 'Requested', 'S3456789C'),
('S3456789C', 3, '2023-11-30', '2023-11-27 10:45:00', 'Confirmed', 'S9345678N'),

-- 2023 mid-year appointments with status flows
('S4567890D', 4, '2023-06-10', '2023-06-07 14:20:00', 'Requested', 'S4567890D'),
('S4567890D', 4, '2023-06-10', '2023-06-07 16:30:00', 'Rejected', 'S9456789P'),

('S5678901E', 5, '2023-07-15', '2023-07-12 09:15:00', 'Requested', 'S5678901E'),
('S5678901E', 5, '2023-07-15', '2023-07-12 11:00:00', 'Confirmed', 'S9567890Q'),

-- 2022 appointments with status flows
('S1234567A', 4, '2022-10-15', '2022-10-12 13:45:00', 'Requested', 'S1234567A'),
('S1234567A', 4, '2022-10-15', '2022-10-12 15:30:00', 'Confirmed', 'S9456789P'),

('S2345678B', 4, '2022-11-21', '2022-11-18 11:20:00', 'Requested', 'S2345678B'),
('S2345678B', 4, '2022-11-21', '2022-11-18 14:15:00', 'Rejected', 'S9456789P'),

-- 2021 appointments with status flows
('S1234567A', 2, '2021-07-20', '2021-07-17 10:30:00', 'Requested', 'S1234567A'),
('S1234567A', 2, '2021-07-20', '2021-07-17 13:45:00', 'Confirmed', 'S9234567M'),

('S2345678B', 3, '2021-08-25', '2021-08-22 09:15:00', 'Requested', 'S2345678B'),
('S2345678B', 3, '2021-08-25', '2021-08-22 11:30:00', 'Rejected', 'S9345678N'),

-- 2020 appointments with status flos
('S1234567A', 2, '2020-10-15', '2020-10-12 15:20:00', 'Requested', 'S1234567A'),
('S1234567A', 2, '2020-10-15', '2020-10-12 16:45:00', 'Confirmed', 'S9123456L'),

('S2345678B', 3, '2020-11-21', '2020-11-18 13:10:00', 'Requested', 'S2345678B'),
('S2345678B', 3, '2020-11-21', '2020-11-18 14:30:00', 'Rejected', 'S9123456L');



-- Insert data into ViewingHistory table
INSERT INTO ViewingHistory (CustomerId, ListingId, DateTime, Status) VALUES
-- 2020 viewings (aligned with 2020-03-15 completion for S1234567A, 1)
('S1234567A', 1, '2020-02-15 10:30:00', 'New'),
('S1234567A', 1, '2020-02-25 14:15:00', 'Viewed 1 time'),
('S1234567A', 1, '2020-03-05 11:45:00', 'Viewed 2 times'),
('S1234567A', 1, '2020-03-10 15:30:00', 'In Discussion'),
('S1234567A', 1, '2020-03-15 16:00:00', 'Completed'),
-- 2020 viewings (aligned with 2020-04-21 completion for S2345678B, 2)
('S2345678B', 2, '2020-03-21 09:45:00', 'New'),
('S2345678B', 2, '2020-03-30 13:20:00', 'Viewed 1 time'),
('S2345678B', 2, '2020-04-10 10:15:00', 'Viewed 2 times'),
('S2345678B', 2, '2020-04-15 14:45:00', 'In Discussion'),
('S2345678B', 2, '2020-04-21 15:30:00', 'Completed'),
-- 2020 viewings (for completed appointment on 2020-05-22 for S3456789C, 3)
('S3456789C', 3, '2020-04-22 11:00:00', 'New'),
('S3456789C', 3, '2020-05-01 14:30:00', 'Viewed 1 time'),
('S3456789C', 3, '2020-05-10 10:45:00', 'Viewed 2 times'),
('S3456789C', 3, '2020-05-15 15:15:00', 'In Discussion'),
('S3456789C', 3, '2020-05-22 16:30:00', 'Completed'),
-- 2021 viewings (aligned with 2021-07-15 completion for S1234567A, 1)
('S1234567A', 1, '2021-06-15 09:30:00', 'New'),
('S1234567A', 1, '2021-06-25 13:45:00', 'Viewed 1 time'),
('S1234567A', 1, '2021-07-05 11:20:00', 'Viewed 2 times'),
('S1234567A', 1, '2021-07-10 14:50:00', 'In Discussion'),
('S1234567A', 1, '2021-07-15 15:45:00', 'Completed'),
-- 2021 viewings (aligned with 2021-08-21 completion for S2345678B, 2)
('S2345678B', 2, '2021-07-21 10:15:00', 'New'),
('S2345678B', 2, '2021-07-30 14:30:00', 'Viewed 1 time'),
('S2345678B', 2, '2021-08-10 11:45:00', 'Viewed 2 times'),
('S2345678B', 2, '2021-08-15 15:20:00', 'In Discussion'),
('S2345678B', 2, '2021-08-21 16:15:00', 'Completed'),
-- 2022 viewings (aligned with 2022-02-15 completion for S1234567A, 1)
('S1234567A', 1, '2022-01-15 09:45:00', 'New'),
('S1234567A', 1, '2022-01-25 13:30:00', 'Viewed 1 time'),
('S1234567A', 1, '2022-02-05 10:45:00', 'Viewed 2 times'),
('S1234567A', 1, '2022-02-10 14:15:00', 'In Discussion'),
('S1234567A', 1, '2022-02-15 15:30:00', 'Completed'),
-- 2022 viewings (aligned with 2022-03-21 completion for S2345678B, 2)
('S2345678B', 2, '2022-02-21 11:00:00', 'New'),
('S2345678B', 2, '2022-02-28 14:45:00', 'Viewed 1 time'),
('S2345678B', 2, '2022-03-10 10:30:00', 'Viewed 2 times'),
('S2345678B', 2, '2022-03-15 15:15:00', 'In Discussion'),
('S2345678B', 2, '2022-03-21 16:00:00', 'Completed'),
-- 2023 viewings (aligned with 2023-03-15 completion for S1234567A, 1)
('S1234567A', 1, '2023-02-15 09:30:00', 'New'),
('S1234567A', 1, '2023-02-25 13:45:00', 'Viewed 1 time'),
('S1234567A', 1, '2023-03-05 11:15:00', 'Viewed 2 times'),
('S1234567A', 1, '2023-03-10 14:30:00', 'In Discussion'),
('S1234567A', 1, '2023-03-15 15:45:00', 'Completed'),
-- 2023 viewings (aligned with 2023-04-21 completion for S2345678B, 2)
('S2345678B', 2, '2023-03-21 10:00:00', 'New'),
('S2345678B', 2, '2023-03-30 14:15:00', 'Viewed 1 time'),
('S2345678B', 2, '2023-04-10 11:30:00', 'Viewed 2 times'),
('S2345678B', 2, '2023-04-15 15:00:00', 'In Discussion'),
('S2345678B', 2, '2023-04-21 16:15:00', 'Completed'),
-- 2023 viewings (aligned with 2023-05-22 completion for S3456789C, 3)
('S3456789C', 3, '2023-04-22 09:45:00', 'New'),
('S3456789C', 3, '2023-05-01 13:30:00', 'Viewed 1 time'),
('S3456789C', 3, '2023-05-10 10:45:00', 'Viewed 2 times'),
('S3456789C', 3, '2023-05-15 14:30:00', 'In Discussion'),
('S3456789C', 3, '2023-05-22 15:45:00', 'Completed'),
-- Additional viewings for listings still in progress
('S4567890D', 4, '2023-09-01 11:00:00', 'New'),
('S4567890D', 4, '2023-09-10 14:45:00', 'Viewed 1 time'),
('S4567890D', 4, '2023-09-20 10:30:00', 'Viewed 2 times'),
('S4567890D', 4, '2023-09-30 15:15:00', 'In Discussion'),
('S5678901E', 5, '2023-10-01 09:30:00', 'New'),
('S5678901E', 5, '2023-10-10 13:45:00', 'Viewed 1 time'),
('S5678901E', 5, '2023-10-20 11:15:00', 'Viewed 2 times'),
-- 2020 extra viewings for S9123456L's appointments
('S1234567A', 2, '2020-09-15 10:15:00', 'New'),
('S1234567A', 2, '2020-09-25 14:30:00', 'Viewed 1 time'),
('S1234567A', 2, '2020-10-05 11:45:00', 'Viewed 2 times'),
('S1234567A', 2, '2020-10-10 15:20:00', 'In Discussion'),
('S1234567A', 2, '2020-10-15 16:00:00', 'Completed'),

('S2345678B', 3, '2020-10-21 09:45:00', 'New'),
('S2345678B', 3, '2020-10-30 13:30:00', 'Viewed 1 time'),
('S2345678B', 3, '2020-11-10 10:45:00', 'Viewed 2 times'),
('S2345678B', 3, '2020-11-15 14:30:00', 'In Discussion'),
('S2345678B', 3, '2020-11-21 15:45:00', 'Completed'),

('S3456789C', 1, '2020-11-22 11:00:00', 'New'),
('S3456789C', 1, '2020-11-30 14:45:00', 'Viewed 1 time'),
('S3456789C', 1, '2020-12-10 10:30:00', 'Viewed 2 times'),
('S3456789C', 1, '2020-12-15 15:15:00', 'In Discussion'),
('S3456789C', 1, '2020-12-22 16:00:00', 'Completed'),

-- 2020 extra viewings for S9234567M's appointments
('S4567890D', 2, '2020-09-10 09:30:00', 'New'),
('S4567890D', 2, '2020-09-20 13:45:00', 'Viewed 1 time'),
('S4567890D', 2, '2020-09-30 11:15:00', 'Viewed 2 times'),
('S4567890D', 2, '2020-10-05 14:30:00', 'In Discussion'),
('S4567890D', 2, '2020-10-10 15:45:00', 'Completed'),

('S5678901E', 3, '2020-10-15 10:00:00', 'New'),
('S5678901E', 3, '2020-10-25 14:15:00', 'Viewed 1 time'),
('S5678901E', 3, '2020-11-05 11:30:00', 'Viewed 2 times'),
('S5678901E', 3, '2020-11-10 15:00:00', 'In Discussion'),
('S5678901E', 3, '2020-11-15 16:15:00', 'Completed'),

-- 2021 extra viewings for S9345678N's appointments
('S1234567A', 3, '2021-09-20 09:45:00', 'New'),
('S1234567A', 3, '2021-09-30 13:30:00', 'Viewed 1 time'),
('S1234567A', 3, '2021-10-10 10:45:00', 'Viewed 2 times'),
('S1234567A', 3, '2021-10-15 14:30:00', 'In Discussion'),
('S1234567A', 3, '2021-10-20 15:45:00', 'Completed'),

('S2345678B', 3, '2021-10-25 11:00:00', 'New'),
('S2345678B', 3, '2021-11-05 14:45:00', 'Viewed 1 time'),
('S2345678B', 3, '2021-11-15 10:30:00', 'Viewed 2 times'),
('S2345678B', 3, '2021-11-20 15:15:00', 'In Discussion'),
('S2345678B', 3, '2021-11-25 16:00:00', 'Completed'),

('S3456789C', 3, '2021-12-01 09:30:00', 'New'),
('S3456789C', 3, '2021-12-10 13:45:00', 'Viewed 1 time'),
('S3456789C', 3, '2021-12-20 11:15:00', 'Viewed 2 times'),
('S3456789C', 3, '2021-12-25 14:30:00', 'In Discussion'),
('S3456789C', 3, '2021-12-30 15:45:00', 'Completed'),

-- 2022 extra viewings for S9456789P's appointments
('S1234567A', 4, '2022-09-15 10:00:00', 'New'),
('S1234567A', 4, '2022-09-25 14:15:00', 'Viewed 1 time'),
('S1234567A', 4, '2022-10-05 11:30:00', 'Viewed 2 times'),
('S1234567A', 4, '2022-10-10 15:00:00', 'In Discussion'),
('S1234567A', 4, '2022-10-15 16:15:00', 'Completed'),

('S2345678B', 4, '2022-10-21 09:45:00', 'New'),
('S2345678B', 4, '2022-10-30 13:30:00', 'Viewed 1 time'),
('S2345678B', 4, '2022-11-10 10:45:00', 'Viewed 2 times'),
('S2345678B', 4, '2022-11-15 14:30:00', 'In Discussion'),
('S2345678B', 4, '2022-11-21 15:45:00', 'Completed'),

('S3456789C', 4, '2022-11-22 11:00:00', 'New'),
('S3456789C', 4, '2022-11-30 14:45:00', 'Viewed 1 time'),
('S3456789C', 4, '2022-12-10 10:30:00', 'Viewed 2 times'),
('S3456789C', 4, '2022-12-15 15:15:00', 'In Discussion'),
('S3456789C', 4, '2022-12-22 16:00:00', 'Completed'),

-- 2022 extra viewings for S9567890Q's appointments
('S4567890D', 5, '2022-09-10 09:30:00', 'New'),
('S4567890D', 5, '2022-09-20 13:45:00', 'Viewed 1 time'),
('S4567890D', 5, '2022-09-30 11:15:00', 'Viewed 2 times'),
('S4567890D', 5, '2022-10-05 14:30:00', 'In Discussion'),
('S4567890D', 5, '2022-10-10 15:45:00', 'Completed'),

('S5678901E', 5, '2022-10-15 10:00:00', 'New'),
('S5678901E', 5, '2022-10-25 14:15:00', 'Viewed 1 time'),
('S5678901E', 5, '2022-11-05 11:30:00', 'Viewed 2 times'),
('S5678901E', 5, '2022-11-10 15:00:00', 'In Discussion'),
('S5678901E', 5, '2022-11-15 16:15:00', 'Completed'),

-- 2023 extra viewings for final completions
('S1234567A', 1, '2023-10-20 09:45:00', 'New'),
('S1234567A', 1, '2023-10-30 13:30:00', 'Viewed 1 time'),
('S1234567A', 1, '2023-11-10 10:45:00', 'Viewed 2 times'),
('S1234567A', 1, '2023-11-15 14:30:00', 'In Discussion'),
('S1234567A', 1, '2023-11-20 15:45:00', 'Completed'),

('S2345678B', 2, '2023-10-25 11:00:00', 'New'),
('S2345678B', 2, '2023-11-05 14:45:00', 'Viewed 1 time'),
('S2345678B', 2, '2023-11-15 10:30:00', 'Viewed 2 times'),
('S2345678B', 2, '2023-11-20 15:15:00', 'In Discussion'),
('S2345678B', 2, '2023-11-25 16:00:00', 'Completed'),

('S3456789C', 3, '2023-11-01 09:30:00', 'New'),
('S3456789C', 3, '2023-11-10 13:45:00', 'Viewed 1 time'),
('S3456789C', 3, '2023-11-20 11:15:00', 'Viewed 2 times'),
('S3456789C', 3, '2023-11-25 14:30:00', 'In Discussion'),
('S3456789C', 3, '2023-11-30 15:45:00', 'Completed');

-- Insert varying numbers of chat messages (0-10) for different appointments
INSERT INTO Chat (CustomerId, ListingId, TimeStamp, Content) VALUES
-- Appointment with no chats: 2020-05-22 appointment has 0 chats
-- Appointment with 2 chats
('S1234567A', 1, '13:45', 'Hi, interested in the property'),
('S1234567A', 1, '14:15', 'Thanks for showing me around'),
-- Appointment with 5 chats
('S2345678B', 2, '10:00', 'Good morning, here for the viewing'),
('S2345678B', 2, '10:15', 'The living room is quite spacious'),
('S2345678B', 2, '10:30', 'What are the nearby amenities?'),
('S2345678B', 2, '10:45', 'The kitchen needs some renovation'),
('S2345678B', 2, '11:00', 'Thank you for your time'),
-- Appointment with 8 chats
('S4567890D', 4, '10:30', 'On my way to the viewing'),
('S4567890D', 4, '10:45', 'Parking available?'),
('S4567890D', 4, '11:00', 'The master bedroom is perfect'),
('S4567890D', 4, '11:15', 'How old is the air conditioning?'),
('S4567890D', 4, '11:30', 'What about the water heater?'),
('S4567890D', 4, '11:45', 'The view is amazing'),
('S4567890D', 4, '12:00', 'Monthly maintenance fees?'),
('S4567890D', 4, '12:15', 'Very interested, will discuss with family'),
-- Appointment with 10 chats
('S5678901E', 5, '15:00', 'Almost there'),
('S5678901E', 5, '15:15', 'The location is convenient'),
('S5678901E', 5, '15:30', 'Love the floor plan'),
('S5678901E', 5, '15:45', 'Are pets allowed?'),
('S5678901E', 5, '16:00', 'The balcony is spacious'),
('S5678901E', 5, '16:15', 'When was it last renovated?'),
('S5678901E', 5, '16:30', 'Any issues with neighbors?'),
('S5678901E', 5, '16:45', 'The ceiling height is good'),
('S5678901E', 5, '17:00', 'What are the terms of payment?'),
('S5678901E', 5, '17:15', 'Will get back to you tomorrow'),
-- Appointment with 3 chats
('S1234567A', 3, '09:00', 'Here for viewing'),
('S1234567A', 3, '09:30', 'The rooms are well-lit'),
('S1234567A', 3, '10:00', 'Thanks for the tour'),
-- Appointment with 4 chats
('S2345678B', 4, '14:15', 'Running 5 minutes late'),
('S2345678B', 4, '14:30', 'The layout is interesting'),
('S2345678B', 4, '14:45', 'Need to check the electrical points'),
('S2345678B', 4, '15:00', 'Will consider this unit'),
-- Chats for 2020 extra appointments
('S1234567A', 2, '2020-10-15 13:45', 'Interested in viewing'),
('S1234567A', 2, '2020-10-15 14:30', 'Thanks for the tour'),
('S2345678B', 3, '2020-11-21 10:15', 'On my way'),
('S2345678B', 3, '2020-11-21 11:00', 'Great property'),
('S3456789C', 1, '2020-12-22 16:30', 'Is parking available?'),
('S3456789C', 1, '2020-12-22 17:00', 'Perfect, thank you'),
-- Chats for 2021 extra appointments
('S1234567A', 3, '2021-10-20 08:45', 'Coming for viewing'),
('S1234567A', 3, '2021-10-20 09:30', 'Love the layout'),
('S2345678B', 3, '2021-11-25 14:15', 'Will be there soon'),
('S2345678B', 3, '2021-11-25 15:00', 'Good amenities'),
('S3456789C', 3, '2021-12-30 15:45', 'Any renovation needed?'),
('S3456789C', 3, '2021-12-30 16:30', 'Thanks for showing'),
-- Chats for 2022 extra appointments
('S1234567A', 4, '2022-10-15 13:45', 'Arriving shortly'),
('S1234567A', 4, '2022-10-15 14:30', 'Nice view'),
('S2345678B', 4, '2022-11-21 10:15', 'Here for viewing'),
('S2345678B', 4, '2022-11-21 11:00', 'Good location'),
('S3456789C', 4, '2022-12-22 16:30', 'Questions about facilities'),
('S3456789C', 4, '2022-12-22 17:00', 'Very promising'),
-- Chats for 2023 extra appointments
('S1234567A', 1, '2023-11-20 08:45', 'Ready for viewing'),
('S1234567A', 1, '2023-11-20 09:30', 'Excellent condition'),
('S2345678B', 2, '2023-11-25 14:15', 'At the lobby'),
('S2345678B', 2, '2023-11-25 15:00', 'Worth considering'),
('S3456789C', 3, '2023-11-30 15:45', 'Any recent upgrades?'),
('S3456789C', 3, '2023-11-30 16:30', 'Will think about it');

-- Insert data into ReviewLog table
INSERT INTO ReviewLog (ListingId, UserNric, DateTime, Comment, Rating) VALUES
(
    1,
    'S1234567A',
    '2024-10-26 14:00',
    '> I regret spending time with this agent',
    1
),
(
    2,
    'S2345678B',
    '2024-10-27 11:00',
    '> Agent is supportive! Love the attitude',
    5
),
(3, 'S3456789C', '2024-10-28 19:17', '> Nice house, I bought it', 3),
(4, 'S4567890D', '2024-10-29 14:25', '> What a haunted house', 2),
(5, 'S5678901E', '2024-10-30 13:01', '> The agent is terrible', 1);

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

15 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

7 rows affected.

7 rows affected.

7 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

20 rows affected.

47 rows affected.

69 rows affected.

137 rows affected.

56 rows affected.

5 rows affected.

++
||
++
++

# Queries
## Query 1
1. List the properties for sale in Ang Mo Kio that have 20 years or less remaining on their tenure.

In [9]:
%%sql
SELECT
    pm.UnitNum,
    pm.PropertyOwnerId,
    pm.[Type],
    pm.Postcode,
    pm.Size,
    pm.Furnishing,
    sm.ListingId,
    sm.Price,
    sm.BuildYear,
    s2.Tenure
FROM
    PropertyMain pm
JOIN
    Property2 p2 ON pm.Postcode = p2.Postcode
JOIN
    Listing l ON pm.UnitNum = l.UnitNum
JOIN
    SaleMain sm ON sm.ListingId = l.Id
JOIN
    Sale2 s2 ON sm.BuildYear = s2.BuildYear
WHERE
    p2.Street LIKE '%Ang Mo Kio%'
    AND (s2.BuildYear + s2.Tenure) >= YEAR(GETDATE())
    AND (s2.BuildYear + s2.Tenure) - YEAR(GETDATE()) <= 20;

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+---------+-----------------+-----------+----------+------+-------------+-----------+-----------+-----------+--------+
| UnitNum | PropertyOwnerId |    Type   | Postcode | Size |  Furnishing | ListingId |   Price   | BuildYear | Tenure |
+---------+-----------------+-----------+----------+------+-------------+-----------+-----------+-----------+--------+
|  01-018 |        2        | Apartment |  123467  | 850  | Unfurnished |     2     | 650000.00 |    1930   |   99   |
|  09-02  |        4        |  Bungalow |  123489  | 2000 |  Furnished  |     4     | 920000.00 |    1935   |   99   |
+---------+-----------------+-----------+----------+------+-------------+-----------+-----------+-----------+--------+

#### Explanation
1. We join PropertyMain, Property2, Listing, SaleMain and Sale2 based on common keys to obtain a SQL DDL & Queries with the attributes of each property, its sale details and its tenure.
2. Filter rows:
    - Obtain rows with 'Ang Mo Kio' in Street attribute by filtering using WHERE p2.Street LIKE '%Ang Mo Kio%'.
    - Obtain rows which contain properties that still have not reached the end of their tenure using WHERE (s2.BuildYear + s2.Tenure) >= YEAR(GETDATE())
    - Obtain rows which contain properties that have less than or equal to 20 years remaining on their tenure using WHERE (s2.BuildYear + s2.Tenure) - YEAR(GETDATE()) <= 20
4. Select relevant columns for the property.
    - Select attributes of the property
    - Select ListingId, Price which are relevant since the selected property should be on sale and the details of the sale should be shown in the table
    - Select BuildYear and Tenure which are relevant since the buyer should be able to see the number of years left on tenure

## Query 2
2. Generate a statistic showing number of listings categorized by property type and furnished status between year 1 Jan 2022 to 31 Dec 2023.

In [10]:
%%sql
SELECT
  p.Type AS "Property Type",
  p.Furnishing AS "Fusnished Status",
  COUNT(*) AS nListings
FROM
  Listing AS l
  INNER JOIN PropertyMain AS p ON p.UnitNum = l.UnitNum
WHERE
  l.CreatedOn BETWEEN '2022-01-01' AND '2023-12-31'
GROUP BY
  p.Type,
  p.Furnishing

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+---------------+---------------------+-----------+
| Property Type |   Fusnished Status  | nListings |
+---------------+---------------------+-----------+
|     Condo     |      Furnished      |     2     |
|    Bungalow   | Partially Furnished |     1     |
|      HDB      | Partially Furnished |     1     |
+---------------+---------------------+-----------+

- **`SELECT` Clause**:
  - Retrieves the property type and furnishing status from the `PropertyMain` table.
  - Counts the total listings for each combination of property type and furnishing status, labeled as `nListings`.

- **`FROM` Clause**:
  - Specifies the `Listing` table as the primary source of data.

- **`INNER JOIN` Clause**:
  - Connects the `Listing` table to the `PropertyMain` table via the `UnitNum` column to relate listings to their property details.

- **`WHERE` Clause**:
  - Filters results to include only listings created between January 1, 2022, and December 31, 2023.

- **`GROUP BY` Clause**:
  - Groups results by property type and furnishing status for aggregation of listing counts.

## Query 3
3. Show the agencys name, managers name, year, and the total sales amount for each agency by year. The total sales amount should reflect the cumulative property sales prices completed by respective agents. Arrange the list chronologically from the earliest year to the most recent and sort by sales amount in descending order within each year.

In [11]:
%%sql
WITH Completed AS (
    SELECT CustomerId, ListingId, YEAR(DateTime) AS YearCompleted
    FROM ViewingHistory
    WHERE Status = 'Completed'
)    
SELECT
    AG.AgencyName,
    U.Name AS ManagerName,
    C.YearCompleted AS YearCompleted,
    SUM(SM.Price) AS TotalSalesAmount
FROM Agent AG
JOIN [User] U ON AG.Nric = U.Nric
JOIN Listing L ON AG.Nric = L.AgentNric
-- exclude listings that are not sales (eg. rentals)
JOIN SaleMain SM ON SM.ListingId = L.Id
-- filter only completed engagments
JOIN Engagement E ON E.ListingId = L.Id
JOIN Completed C ON C.CustomerId = E.CustomerId AND C.ListingId = E.ListingId
GROUP BY AG.AgencyName, U.Name, C.YearCompleted
ORDER BY C.YearCompleted ASC, TotalSalesAmount DESC;

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+----------------------------+-------------+---------------+------------------+
|         AgencyName         | ManagerName | YearCompleted | TotalSalesAmount |
+----------------------------+-------------+---------------+------------------+
|    Huttons Asia Pte Ltd    | Kenneth Koh |      2020     |    2250000.00    |
| ERA Realty Network Pte Ltd |  Julia Teo  |      2020     |    1950000.00    |
|   PropNex Realty Pte Ltd   |  Isaac Wong |      2020     |    1700000.00    |
|    Huttons Asia Pte Ltd    | Kenneth Koh |      2021     |    2250000.00    |
|   PropNex Realty Pte Ltd   |  Isaac Wong |      2021     |    850000.00     |
| ERA Realty Network Pte Ltd |  Julia Teo  |      2021     |    650000.00     |
|    Huttons Asia Pte Ltd    | Kenneth Koh |      2022     |    2760000.00    |
|  OrangeTee & Tie Pte Ltd   |   Lydia Ng  |      2022     |    1340000.00    |
|   PropNex Realty Pte Ltd   |  Isaac Wong |      2022     |    850000.00     |
| ERA Realty Network Pte Ltd |  Julia Teo  |      2022     |    650000.00     |
|   PropNex Realty Pte Ltd   |  Isaac Wong |      2023     |    1700000.00    |
|    Huttons Asia Pte Ltd    | Kenneth Koh |      2023     |    1500000.00    |
| ERA Realty Network Pte Ltd |  Julia Teo  |      2023     |    1300000.00    |
+----------------------------+-------------+---------------+------------------+

- **Common Table Expression (CTE)**:
  - **`Completed`**: Selects `CustomerId`, `ListingId`, and the year of completion from the `ViewingHistory` table where the status is 'Completed'.

- **`SELECT` Clause**:
  - Retrieves the agency name, manager name, year completed, and the total sales amount.

- **`FROM` Clause**:
  - Begins the main query from the `Agent` table, aliased as `AG`.

- **`JOIN` Clauses**:
  - Joins the `User` table (`U`) to link agents with their respective user details using their NRIC.
  - Joins the `Listing` table (`L`) to associate listings with their agents, ensuring the listings belong to those agents.
  - Joins the `SaleMain` table (`SM`) to include only listings that are sales (excludes rentals).
  - Joins the `Engagement` table (`E`) to filter engagements related to the listings.
  - Joins the `Completed` CTE on `CustomerId` and `ListingId` to only include completed engagements.

- **`GROUP BY` Clause**:
  - Groups results by agency name, manager name, and year completed for aggregation.

- **`ORDER BY` Clause**:
  - Orders the final results by year completed in ascending order and total sales amount in descending order.

## Query 4
4. List all customers name, email and their engagement information where they have initiated a chat with an agent, completed appointment, but have not completed the deal for rental listing. We would like to send them a followup message.

In [12]:
%%sql
SELECT u.Name, u.Email, e.*
FROM [User] AS u
    -- select only customers with engagements
    INNER JOIN Engagement AS e ON e.CustomerId = u.Nric
WHERE
    -- select only customers that has initiated chats
    EXISTS(
        SELECT 1 FROM Chat AS c
        WHERE c.CustomerID = u.Nric AND c.ListingId = e.ListingId
    )
    -- select only customers that have completed appointments
    AND EXISTS(
        SELECT 1 FROM AppointmentLog AS a
        WHERE a.CustomerID = u.Nric AND a.ListingId = e.ListingID AND a.Status = 'Completed'
    )
    -- exclude customers that have completed the deal
    AND NOT EXISTS (
        SELECT 1
        FROM ViewingHistory AS v
        WHERE v.CustomerId = u.Nric AND e.ListingId = v.ListingId AND v.Status = 'Completed'
    )

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+-----------+-----------------------+------------+-----------+
|    Name   |         Email         | CustomerId | ListingId |
+-----------+-----------------------+------------+-----------+
| Alice Lee | alice.lee@example.com | S4567890D  |     4     |
+-----------+-----------------------+------------+-----------+

**Explanation**

1. **SELECT Clause**: 
   - Retrieves the `Name` and `Email` from the `User` table (aliased as `u`) and all columns from the `Engagement` table (aliased as `e`).

2. **FROM Clause**: 
   - Data is sourced from the `User` table and the `Engagement` table.

3. **INNER JOIN**: 
   - Joins the `Engagement` table on the condition that `CustomerId` in `Engagement` matches `Nric` in `User`.

4. **WHERE Clause Conditions**:
   - **EXIST 1**: 
     - Ensures that the user has initiated chats (`Chat` table) for the respective `ListingId`.
   - **EXIST 2**: 
     - Ensures that the user has completed appointments (`AppointmentLog` table) for the respective `ListingId` and has a status of 'Completed'.
   - **NOT EXIST**: 
     - Excludes users who have completed the deal, based on records in the `ViewingHistory` table where the status is 'Completed' for the given `ListingId`.

## Query 5
5. Identify the top three most engaging agents with a valid license for each year from 2020 to 2023.
An engaging agent is defined as one who has completed the highest number of appointments, with each appointment having at least two chat messages. Completed appointments without chat messages should not be counted. For each agent, display their name, license validity, and affiliation.

In [13]:
%%sql
-- Count no. of completed appointments having at least 2 chat messsages
WITH AppointmentsCompletedWithChats AS (
    SELECT
        a.*
    FROM Appointment a
    WHERE
        -- select only completed appointments
        EXISTS(
            SELECT 1 FROM AppointmentLog l
            WHERE 
                a.CustomerId = l.CustomerId
                AND a.ListingId = l.ListingId
                AND a.AppointmentDate = l.AppointmentDate
                AND l.Status = 'Completed'
        )
        -- filter only appointments at least 2 chat messages
        AND (
            SELECT COUNT(*) FROM Chat c
            WHERE
                a.CustomerId = c.CustomerId
                AND a.ListingID = c.ListingId
        ) > 2
), EngagingAgents AS (
    -- query data of engaging agents and count no. of completed appointments
    SELECT ag.NRIC, u.Name, ag.LicenseExpiry, ag.AgencyName, YEAR(a.AppointmentDate) AS AppointmentYear, COUNT(*) As nCompleted
    FROM Agent ag
        INNER JOIN [User] u ON u.NRIC = ag.NRIC
        INNER JOIN Listing l ON l.AgentNric = ag.Nric
        INNER JOIN AppointmentsCompletedWithChats a ON a.ListingId = l.Id
    GROUP BY ag.NRIC, u.Name, ag.LicenseExpiry, ag.AgencyName, YEAR(a.AppointmentDate)
), Years AS (
    -- create year range 2020 - 2023
    SELECT 2020 AS yr UNION ALL
    SELECT 2021 UNION ALL
    SELECT 2022 UNION ALL
    SELECT 2023
), ValidLicenseRankedAgents AS (
    -- rank agents by no. of completed appointments
    SELECT y.yr, a.*, RANK() OVER(PARTITION BY y.yr ORDER BY a.nCompleted DESC) AS ranking
    FROM Years y
        INNER JOIN EngagingAgents a ON a.AppointmentYear = y.yr
    -- check that the agent has valid license for that year
    WHERE a.LicenseExpiry > DATEFROMPARTS(y.yr, 12, 31)
)
SELECT yr AS rankYear, Name, CONCAT('Till ', DATEADD(DAY, -1, LicenseExpiry)) AS "License Validity", AgencyName AS Affilation
FROM ValidLicenseRankedAgents
WHERE ranking <= 3

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+----------+-------------+------------------+----------------------------+
| rankYear |     Name    | License Validity |         Affilation         |
+----------+-------------+------------------+----------------------------+
|   2020   | Kenneth Koh | Till 2026-10-14  |    Huttons Asia Pte Ltd    |
|   2020   |   Lydia Ng  | Till 2023-09-19  |  OrangeTee & Tie Pte Ltd   |
|   2020   |  Isaac Wong | Till 2025-12-30  |   PropNex Realty Pte Ltd   |
|   2020   |  Julia Teo  | Till 2024-11-29  | ERA Realty Network Pte Ltd |
|   2021   | Kenneth Koh | Till 2026-10-14  |    Huttons Asia Pte Ltd    |
|   2021   |   Lydia Ng  | Till 2023-09-19  |  OrangeTee & Tie Pte Ltd   |
|   2021   |  Isaac Wong | Till 2025-12-30  |   PropNex Realty Pte Ltd   |
|   2021   |  Julia Teo  | Till 2024-11-29  | ERA Realty Network Pte Ltd |
|   2022   | Kenneth Koh | Till 2026-10-14  |    Huttons Asia Pte Ltd    |
|   2022   |   Lydia Ng  | Till 2023-09-19  |  OrangeTee & Tie Pte Ltd   |
|   2022   |  Isaac Wong | Till 2025-12-30  |   PropNex Realty Pte Ltd   |
|   2022   |  Julia Teo  | Till 2024-11-29  | ERA Realty Network Pte Ltd |
|   2023   |  Isaac Wong | Till 2025-12-30  |   PropNex Realty Pte Ltd   |
|   2023   |  Julia Teo  | Till 2024-11-29  | ERA Realty Network Pte Ltd |
|   2023   | Kenneth Koh | Till 2026-10-14  |    Huttons Asia Pte Ltd    |
+----------+-------------+------------------+----------------------------+

**Explanation**
1. **CTE for Completed Appointments**:
   - The `AppointmentsCompletedWithChats` CTE selects only those appointments that are marked as **completed**. This is ensured by checking for the existence of records in the `AppointmentLog` table where the status is `'Completed'`.

2. **Chat Message Count**:
   - The CTE further filters these appointments to include only those with **at least two chat messages**. This is done using a subquery that counts the number of chat messages associated with each appointment based on matching `CustomerId` and `ListingId`.

3. **Aggregation of Agent Data**:
   - The `EngagingAgents` CTE aggregates the number of completed appointments for each agent (identified by `NRIC`) and year, grouping by agent details and appointment year. This identifies which agents are the most engaging based on their completed appointments.

4. **Year Range Creation**:
   - The `Years` CTE explicitly generates the years from **2020 to 2023**, ensuring that the ranking process can be partitioned by these specific years.

5. **Ranking Valid Agents**:
   - The `ValidLicenseRankedAgents` CTE ranks agents based on their number of completed appointments per year using the `RANK()` function. The ranking is done in descending order to prioritize those with the highest counts.

6. **License Validity Check**:
   - The query checks that each agent has a **valid license** for the year in question. This is done by ensuring that the `LicenseExpiry` is greater than December 31st of that year.

7. **Final Selection**:
   - The final `SELECT` statement retrieves the year, ranking, number of completed appointments, agent's name, formatted license validity, and agency name, effectively providing a clear output for the top three engaging agents for each year.

8. **Top Three Agents**:
   - The filtering condition `WHERE ranking <= 3` ensures that only the top three agents per year are selected, thereby meeting the requirement to identify the most engaging agents.

## Query 6
6. Create a trigger to calculate the total views for all properties and update its engagement status accordingly.

In [14]:
%%sql
CREATE TRIGGER PropertyEngagmentTrigger ON ViewingHistory AFTER INSERT AS BEGIN
-- only update on changes to views in viewing history
IF EXISTS (
  SELECT
    1
  FROM
    INSERTED
  WHERE
    Status LIKE 'Viewed % time%'
) BEGIN
WITH
  PropertyViews AS (
    -- count total number of views per property
    SELECT
      p.UnitNum,
      COUNT(*) AS nViews
    FROM
      ViewingHistory v
      INNER JOIN Listing l ON l.Id = v.ListingId
      INNER JOIN PropertyMain p ON p.UnitNum = l.UnitNum
    GROUP BY
      p.UnitNum
  ),
  PropertyUpdates AS (
    -- format engagement status updates
    SELECT
      UnitNum,
      CONCAT (
        'Viewed ',
        nViews,
        CASE
          WHEN nViews <= 1 THEN ' time'
          ELSE ' times'
        END
      ) AS EngagementStatus
    FROM
      PropertyViews
  )
  -- apply engagment status updates to property main table
UPDATE p
SET
  EngagementStatus = u.EngagementStatus
FROM
  PropertyMain p
  INNER JOIN PropertyUpdates u ON u.UnitNum = p.UnitNum END END

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

++
||
++
++

**Explaination**
1. **Trigger Creation**:
   - The trigger `PropertyEngagmentTrigger` is created on the `ViewingHistory` table.
   - It is set to fire **AFTER INSERT** operations.

2. **Condition Check**:
   - The trigger first checks if any inserted records in the `INSERTED` pseudo-table have a `Status` that matches the pattern `'Viewed % time%'`.
   - This ensures that the update only occurs when `'Viewed N time[s]'` is inserted into the `ViewingHistory` table.

3. **CTE for Counting Views**:
   - A Common Table Expression (CTE) named `PropertyViews` counts the total number of views for each property:
     - Joins `ViewingHistory`, `Listing`, and `PropertyMain` tables.
     - Groups by `UnitNum` to aggregate view counts.

4. **CTE for Formatting Engagement Status**:
   - Another CTE named `PropertyUpdates` formats the engagement status based on view counts:
     - Concatenates the string `'Viewed '` with the view count.
     - Adds either `' time'` or `' times'` based on whether the count is singular or plural.

5. **Update Statement**:
   - The final `UPDATE` statement updates the `EngagementStatus` in the `PropertyMain` table.
   - It sets the new engagement status by joining the `PropertyMain` table with the `PropertyUpdates` CTE.

6. **Final Outcome**:
   - Each propertys engagement status is accurately updated based on the total views calculated from the `ViewingHistory`.

Query current `EngagmentStatus` for each Property before trigger:

In [15]:
%%sql
SELECT
  *
FROM
  PropertyMain

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+---------+-----------------+-----------+----------+------+---------------------+------------------+
| UnitNum | PropertyOwnerId |    Type   | Postcode | Size |      Furnishing     | EngagementStatus |
+---------+-----------------+-----------+----------+------+---------------------+------------------+
|  01-018 |        2        | Apartment |  123467  | 850  |     Unfurnished     |       None       |
|  09-02  |        4        |  Bungalow |  123489  | 2000 |      Furnished      |       None       |
|  10-001 |        6        |   Condo   |  123491  | 950  |      Furnished      |       None       |
|  11-011 |        7        |  Bungalow |  123492  | 1800 | Partially Furnished |       None       |
|  13-05  |        1        |   Condo   |  123456  | 1000 |      Furnished      |       None       |
|  15-127 |        5        |  Terrace  |  123490  | 1200 |     Unfurnished     |       None       |
|  17-364 |        3        |    HDB    |  123478  | 900  | Partially Furnished |       None       |
+---------+-----------------+-----------+----------+------+---------------------+------------------+

`INSERT` to test trigger:

In [16]:
%%sql
INSERT INTO
  ViewingHistory (CustomerId, ListingId, DateTime, Status)
VALUES
  -- Adding view for "13-05"
  (
    'S1234567A',
    1,
    '2023-10-01 10:00:00',
    'Viewed 3 times'
  ),
  -- Adding view for "10-001"
  (
    'S1234567A',
    6,
    '2023-10-01 10:00:00',
    'Viewed 1 time'
  );

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

6 rows affected.

++
||
++
++

Query updated `EngagmentStatus` for each Property after trigger:

In [17]:
%%sql
SELECT
  *
FROM
  PropertyMain

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+---------+-----------------+-----------+----------+------+---------------------+------------------+
| UnitNum | PropertyOwnerId |    Type   | Postcode | Size |      Furnishing     | EngagementStatus |
+---------+-----------------+-----------+----------+------+---------------------+------------------+
|  01-018 |        2        | Apartment |  123467  | 850  |     Unfurnished     | Viewed 35 times  |
|  09-02  |        4        |  Bungalow |  123489  | 2000 |      Furnished      | Viewed 19 times  |
|  10-001 |        6        |   Condo   |  123491  | 950  |      Furnished      |  Viewed 1 time   |
|  11-011 |        7        |  Bungalow |  123492  | 1800 | Partially Furnished |       None       |
|  13-05  |        1        |   Condo   |  123456  | 1000 |      Furnished      | Viewed 31 times  |
|  15-127 |        5        |  Terrace  |  123490  | 1200 |     Unfurnished     | Viewed 13 times  |
|  17-364 |        3        |    HDB    |  123478  | 900  | Partially Furnished | Viewed 40 times  |
+---------+-----------------+-----------+----------+------+---------------------+------------------+

`INSERT` to test trigger again:

In [18]:
%%sql
INSERT INTO
  ViewingHistory (CustomerId, ListingId, DateTime, Status)
VALUES
  -- Adding view for "13-05"
  (
    'S1234567A',
    1,
    '2023-10-01 10:00:00',
    'Viewed 3 times'
  ),
  -- Adding view for "10-001"
  (
    'S1234567A',
    6,
    '2023-10-01 10:00:00',
    'Viewed 1 time'
  );

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

6 rows affected.

++
||
++
++

Query updated `EngagmentStatus` for each Property after trigger:

In [19]:
%%sql
SELECT
  *
FROM
  PropertyMain

Running query in 'mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+---------+-----------------+-----------+----------+------+---------------------+------------------+
| UnitNum | PropertyOwnerId |    Type   | Postcode | Size |      Furnishing     | EngagementStatus |
+---------+-----------------+-----------+----------+------+---------------------+------------------+
|  01-018 |        2        | Apartment |  123467  | 850  |     Unfurnished     | Viewed 35 times  |
|  09-02  |        4        |  Bungalow |  123489  | 2000 |      Furnished      | Viewed 19 times  |
|  10-001 |        6        |   Condo   |  123491  | 950  |      Furnished      |  Viewed 2 times  |
|  11-011 |        7        |  Bungalow |  123492  | 1800 | Partially Furnished |       None       |
|  13-05  |        1        |   Condo   |  123456  | 1000 |      Furnished      | Viewed 32 times  |
|  15-127 |        5        |  Terrace  |  123490  | 1200 |     Unfurnished     | Viewed 13 times  |
|  17-364 |        3        |    HDB    |  123478  | 900  | Partially Furnished | Viewed 40 times  |
+---------+-----------------+-----------+----------+------+---------------------+------------------+