<img style="margin: auto" src="https://www.ntu.edu.sg/images/default-source/corporate/ntu_logo.png?sfvrsn=b5dd1d82_5" width=500/>

#  SC2077: Lab 5
TCCA Group 2

<table>
      <thead>
        <tr class="header">
          <th><strong>Full Name</strong></th>
          <th><strong>Individual Contribution to Lab 5 Submission</strong></th>
          <th><strong>Percentage of Contribution</strong></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td>Zhu Zhanyan</td>
          <td>Relational Schema</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.07813in; height: 0.43125in"
            />
          </td>
        </tr>
        <tr class="even">
          <td>Chua Ze Ming</td>
          <td>Relational Schema</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 0.98311in; height: 0.42232in"
            />
          </td>
        </tr>
        <tr class="odd">
          <td>Nguyen Ngoc Minh</td>
          <td>Relational Schema</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.09896in; height: 0.34052in"
            />
          </td>
        </tr>
        <tr class="even">
          <td>Natalie Ng Shi En</td>
          <td>Relational Schema</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.49393in; height: 0.37874in"
            />
          </td>
        </tr>
        <tr class="odd">
          <td>Donovan Ang</td>
          <td>Relational Schema</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.18229in; height: 0.33614in"
            />
          </td>
        </tr>
        <tr class="even">
          <td>Issac Lim</td>
          <td>Relational Schema</td>
          <td>16.67%</td>
          <td>
            <img
              src=""
              style="width: 1.47917in; height: 0.43056in"
            />
          </td>
        </tr>
      </tbody>
    </table>

# Setup
Install [MS SQL Server ODBC driver](https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver16).

In [1]:
# Add the signature to trust the Microsoft repo
# For Ubuntu versions < 24.04
!curl https://packages.microsoft.com/keys/microsoft.asc | sudo tee /etc/apt/trusted.gpg.d/microsoft.asc
# For Ubuntu versions >= 24.04
!curl https://packages.microsoft.com/keys/microsoft.asc | sudo gpg --dearmor -o /usr/share/keyrings/microsoft-prod.gpg

# Add repo to apt sources
!curl https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list

# Install the driver
!sudo apt-get update
!sudo ACCEPT_EULA=Y apt-get install -y msodbcsql18
# optional: for bcp and sqlcmd
!sudo ACCEPT_EULA=Y apt-get install -y mssql-tools18

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   983  100   983    0     0   4287      0 --:--:-- --:--:-- --:--:--  4292
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.7 (GNU/Linux)

mQENBFYxWIwBCADAKoZhZlJxGNGWzqV+1OG1xiQeoowKhssGAKvd+buXCGISZJwT
LXZqIcIiLP7pqdcZWtE9bSc7yBY2MalDp9Liu0KekywQ6VVX1T72NPf5Ev6x6DLV
7aVWsCzUAF+eb7DC9fPuFLEdxmOEYoPjzrQ7cCnSV4JQxAqhU4T6OjbvRazGl3ag
OeizPXmRljMtUUttHQZnRhtlzkmwIrUivbfFPD+fEoHJ1+uIdfOzZX8/oKHKLe2j
H632kvsNzJFlROVvGLYAk2WRcLu+RjjggixhwiB+Mu/A8Tf4V6b+YppS44q8EvVr
M+QvY7LNSOffSO6Slsy9oisGTdfE39nC7pVRABEBAAG0N01pY3Jvc29mdCAoUmVs
ZWFzZSBzaWduaW5nKSA8Z3Bnc2VjdXJpdHlAbWljcm9zb2Z0LmNvbT6JATUEEwEC
AB8FAlYxWIwCGwMGCwkIBwMCBBUCCAMDFgIBAh4BAheAAAoJEOs+lK2+EinPGpsH
/32vKy29Hg51H9dfFJMx0/a/F+5vKeCeVqimvyTM04C+XENNuSbYZ3eRPHGHFLqe
MNGxsfb7C7ZxEeW7J/vSzRgHxm7ZvESisUYRFq2sgkJ+HFERNrqfci45bdhmrUsy
7SWw9ybxdFOkuQoyKD3tBmiGfONQMlBaOMWdAsic965rvJsd5zYaZZFI1UwTkFXV
KJt3bp3Ngn1vEYXwijGTa+FXz6GLHueJwF0I7ug34DgUkAFvAs8Hacr2DRYxL5RJ
XdNgj4Jd2/g6T9InmWT0hASljur+dJnzNiNCkbn9KbX7J/qK1IbR8y560yRmFsU+
NdCFTW7wY0Fb1fWJ+/KTsC4=
=J6gs
-----END PGP PUBLIC KEY BLOCK-----
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0gpg: cannot open '/dev/tty': No such device or address
100   983  100   983    0     0   3530      0 --:--:-- --:--:-- --:--:--  3535
curl: (23) Failed writing body
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    88  100    88    0     0    313      0 --:--:-- --:--:-- --:--:--   313
Hit:1 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:5 https://packages.microsoft.com/ubuntu/22.04/prod jammy InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:7 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Ign:8 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:9 https://r2u.stat.illinois.edu/ubuntu jammy Release
Hit:10 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
msodbcsql18 is already the newest version (18.4.1.1-1).
0 upgraded, 0 newly installed, 0 to remove and 50 not upgraded.
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mssql-tools18 is already the newest version (18.4.1.1-1).
0 upgraded, 0 newly installed, 0 to remove and 50 not upgraded.


Ensure packages are installed with `pip install -r requirements.txt`

In [2]:
%pip install jupysql==0.10.14 jupysql-plugin==0.4.5 pyodbc==5.1.0

Requirement already satisfied: jupysql==0.10.14 in /usr/local/lib/python3.10/dist-packages (0.10.14)
Requirement already satisfied: jupysql-plugin==0.4.5 in /usr/local/lib/python3.10/dist-packages (0.4.5)
Requirement already satisfied: pyodbc==5.1.0 in /usr/local/lib/python3.10/dist-packages (5.1.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (3.11.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (2.0.36)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (0.5.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (3.1.4)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (25.1.0)
Requirement already satisfied: ploomber-core>=0.2.7 in /usr/local/lib/python3.10/dist-packages (from jupysql==0.10.14) (0.2.25)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql==0.10.14) (6.0.2)
Requirement already satisfied: posthog in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql==0.10.14) (3.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql==0.10.14) (3.0.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->jupysql==0.10.14) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql==0.10.14) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql==0.10.14) (3.1.1)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2.32.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (1.6)
Requirement already satisfied: backoff>=1.10.0 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql==0.10.14) (2024.8.30)


## Imports

In [3]:
import os
import pyodbc
from getpass import getpass

from sqlalchemy import create_engine
from sqlalchemy.engine import URL

# ensure sql server driver / tools accessible on path
os.environ["PATH"] = f"{os.environ['PATH']}:/opt/mssql-tools18/bin"
%load_ext sql

## Database Credentials

In [4]:
password = os.environ.get("MSSQL_SA_PASSWORD") or getpass("SA user password: ")

SA user password: ··········

## Setup Database Connection

In [5]:
connection_url = URL.create(
    "mssql+pyodbc",
    username="sa",
    password=password,
    # TODO change this to zemings IP & port BUT CHANGE IT BACK BEFORE COMMITTING
    host="localhost",
    port=1433,
    # zemings IP & port
    # host="152.42.253.110",
    # port=8080,
    database="master",
    query={
        "driver": "ODBC Driver 18 for SQL Server",
        "Encrypt": "yes",
        "TrustServerCertificate": "yes",
    },
)
engine = create_engine(connection_url)
%sql engine
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

# DDL
Define relational schema with SQL DDL.

In [6]:
%%sql
-- User table
CREATE TABLE [User] (
    Nric VARCHAR(9) PRIMARY KEY,
    [Name] VARCHAR(100) NOT NULL,
    ContactNum VARCHAR(20) NOT NULL,
    [Password] VARCHAR(255) NOT NULL,
    Email VARCHAR(100) UNIQUE NOT NULL
);

-- Customer table
CREATE TABLE Customer (
    Nric VARCHAR(9) PRIMARY KEY,
    Intention VARCHAR(100),
    FOREIGN KEY (Nric) REFERENCES [User] (Nric)
);

-- Agent table
CREATE TABLE Agent (
    Nric VARCHAR(9) PRIMARY KEY,
    LicenseNum VARCHAR(50) UNIQUE NOT NULL,
    LicenseExpiry DATE NOT NULL,
    FOREIGN KEY (Nric) REFERENCES [User] (Nric)
);

-- Agency table
CREATE TABLE Agency (
    [Name] VARCHAR(100) PRIMARY KEY,
    EstablishedYear INT NOT NULL
);

-- PropertyOwner table
CREATE TABLE PropertyOwner (
    Nric VARCHAR(9) PRIMARY KEY,
    [Name] VARCHAR(100) NOT NULL,
    ContactNum VARCHAR(20) UNIQUE NOT NULL,
    Gender CHAR(1) CHECK (Gender IN ('M', 'F')),
    Age INT CHECK (Age > 0)
);

-- Listing table
CREATE TABLE Listing (
    Id INT PRIMARY KEY IDENTITY (1, 1),
    UnitNum VARCHAR(50) NOT NULL,
    CreatedOn DATE NOT NULL,
    AgentNric VARCHAR(9) FOREIGN KEY REFERENCES Agent (Nric)
);

-- Property tables
CREATE TABLE PropertyMain (
    UnitNum VARCHAR(50) PRIMARY KEY,
    PropertyOwnerId INT NOT NULL,
    [Type] VARCHAR(50) NOT NULL, -- noqa: RF06
    Postcode VARCHAR(10) NOT NULL,
    Size INT,
    Furnishing VARCHAR(50)
);

CREATE TABLE Property2 (
    Postcode VARCHAR(10) PRIMARY KEY,
    Street VARCHAR(100) NOT NULL
);

ALTER TABLE PropertyMain
ADD CONSTRAINT FK_Postcode
FOREIGN KEY (Postcode) REFERENCES Property2 (Postcode);

-- Sale tables
CREATE TABLE SaleMain (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    Price DECIMAL(10, 2) NOT NULL,
    BuildYear INT NOT NULL
);

CREATE TABLE Sale2 (
    BuildYear INT PRIMARY KEY,
    Tenure INT NOT NULL
);

ALTER TABLE SaleMain
ADD CONSTRAINT FK_BuildYear
FOREIGN KEY (BuildYear) REFERENCES Sale2 (BuildYear);

-- Rental table
CREATE TABLE Rental (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    HasUtilities BIT NOT NULL,
    HasAircon BIT NOT NULL
);

-- ShortTermRental
CREATE TABLE ShortTermRental (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    DailyRental FLOAT NOT NULL
);

-- LongTermRental
CREATE TABLE LongTermRental (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    MonthlyRental FLOAT NOT NULL,
    MinStay INT NOT NULL,
    AllowVisitors BIT NOT NULL
);

-- Engagement table
CREATE TABLE Engagement (
    CustomerId VARCHAR(9),
    ListingId INT,
    PRIMARY KEY (CustomerId, ListingId),
    FOREIGN KEY (CustomerId) REFERENCES Customer (Nric),
    FOREIGN KEY (ListingId) REFERENCES Listing (Id)
);

-- ViewingHistory
CREATE TABLE ViewingHistory (
    CustomerId VARCHAR(9) FOREIGN KEY REFERENCES Customer (Nric),
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    DateTime TIME NOT NULL,
    Status VARCHAR(64) NOT NULL
);

-- Chat table
CREATE TABLE Chat (
    CustomerId VARCHAR(9) FOREIGN KEY REFERENCES Customer (Nric),
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    [Timestamp] TIME NOT NULL,
    Content VARCHAR(512)
);

-- ReviewLog table
CREATE TABLE ReviewLog (
    ListingId INT FOREIGN KEY REFERENCES Listing (Id),
    UserNric VARCHAR(9) FOREIGN KEY REFERENCES [User] (Nric),
    DateTime TIME NOT NULL,
    Comment VARCHAR(512) NOT NULL,
    Rating INT NOT NULL
);

-- Appointment table
CREATE TABLE Appointment (
    CustomerId VARCHAR(9),
    ListingId INT,
    AppointmentDate DATE,
    AppointmentTime TIME,
    PRIMARY KEY (CustomerId, ListingId, AppointmentDate),
    FOREIGN KEY (CustomerId, ListingId) REFERENCES Engagement (
        CustomerId, ListingId
    )
);

-- AppointmentLog table
CREATE TABLE AppointmentLog (
    CustomerId VARCHAR(9),
    ListingId INT,
    AppointmentDate DATE,
    [Time] DATETIME, -- noqa: RF06
    Status VARCHAR(50),
    ActionBy VARCHAR(9),
    PRIMARY KEY (CustomerId, ListingId, AppointmentDate, Time),
    FOREIGN KEY (
        CustomerId, ListingId, AppointmentDate
    ) REFERENCES Appointment (
        CustomerId, ListingId, AppointmentDate
    ),
    FOREIGN KEY (ActionBy) REFERENCES [User] (Nric)
);

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

++
||
++
++

In [7]:
%%sql
SELECT table_name FROM INFORMATION_SCHEMA.TABLES
WHERE table_name NOT LIKE 'spt_%'
  AND table_name <> 'MSreplication_options'

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+-----------------+
|    table_name   |
+-----------------+
|       User      |
|     Customer    |
|      Agent      |
|      Agency     |
|  PropertyOwner  |
|     Listing     |
|   PropertyMain  |
|    Property2    |
|     SaleMain    |
|      Sale2      |
|      Rental     |
| ShortTermRental |
|  LongTermRental |
|    Engagement   |
|  ViewingHistory |
|       Chat      |
|    ReviewLog    |
|   Appointment   |
|  AppointmentLog |
+-----------------+

`sqt_*` tables are system Tables and should be ignored.

# Data
Insert data into Relational Schema for later queries:

In [8]:
%%sql
-- Insert data into User table
INSERT INTO [User] (Nric, Name, ContactNum, Password, Email) VALUES
('S1234567A', 'John Doe', '+6598765432', 'password123', 'john.doe@example.com'),
(
    'S2345678B',
    'Jane Smith',
    '+6598765433',
    'password456',
    'jane.smith@example.com'
),
('S3456789C', 'Bob Tan', '+6598765434', 'password789', 'bob.tan@example.com'),
(
    'S4567890D',
    'Alice Lee',
    '+6598765435',
    'password321',
    'alice.lee@example.com'
),
(
    'S5678901E',
    'Charlie Lim',
    '+6598765436',
    'password654',
    'charlie.lim@example.com'
),
(
    'S6789012F',
    'Desmond Ang',
    '+6581235394',
    'password376',
    'desmond.ang@example.com'
),
(
    'S7890123G',
    'Elise Chong',
    '+6592750725',
    'password563',
    'elise.chong@example.com'
),
('S8901234H', 'Frank Ow', '+6590278150', 'password062', 'frank.ow@example.com'),
(
    'S8901234J',
    'Gerry Tan',
    '+6581630472',
    'password592',
    'gerry.tan@example.com'
),
(
    'S9012345K',
    'Harold Poon',
    '+658224710',
    'password284',
    'harold.poon@example.com'
),
('S9123456L', 'Isaac Wong', '+6581354673', 'password197', 'isaac.wong@example.com'),
('S9234567M', 'Julia Teo', '+6582345612', 'password298', 'julia.teo@example.com'),
('S9345678N', 'Kenneth Koh', '+6598457623', 'password712', 'kenneth.koh@example.com'),
('S9456789P', 'Lydia Ng', '+6597456123', 'password916', 'lydia.ng@example.com'),
('S9567890Q', 'Marcus Lee', '+6583452716', 'password333', 'marcus.lee@example.com');

-- Insert data into Customer table
INSERT INTO Customer (Nric, Intention) VALUES
('S1234567A', 'Looking for new home'),
('S2345678B', 'Selling existing property'),
('S3456789C', 'Investment opportunities'),
('S4567890D', 'Renting options'),
('S5678901E', 'Exploring market trends');

-- Insert data into Agent table
INSERT INTO Agent (Nric, LicenseNum, LicenseExpiry) VALUES
('S9123456L', 'LIC12345', '2025-12-31'),
('S9234567M', 'LIC23456', '2024-11-30'),
('S9345678N', 'LIC34567', '2026-10-15'),
('S9456789P', 'LIC45678', '2023-09-20'),
('S9567890Q', 'LIC56789', '2025-08-25');

-- Insert data into Agency table
INSERT INTO Agency (Name, EstablishedYear) VALUES
('PropNex Realty Pte Ltd', '1999'),
('ERA Realty Network Pte Ltd', '1982'),
('Huttons Asia Pte Ltd', '2002'),
('OrangeTee & Tie Pte Ltd', '2000'),
('SRI Pte Ltd', '2016');

-- Insert data into PropertyOwner table
INSERT INTO PropertyOwner (Nric, Name, ContactNum, Gender, Age) VALUES
('S6789012F', 'Desmond Ang', '+6581235394', 'M', '50'),
('S7890123G', 'Elise Chong', '+6592750725', 'F', '26'),
('S8901234H', 'Frank Ow', '+6590278150', 'M', '44'),
('S8901234J', 'Gerry Tan', '+6581630472', 'F', '63'),
('S9012345K', 'Harold Poon', '+658224710', 'M', '38');

-- Insert data into Listing table
INSERT INTO Listing (CreatedOn, UnitNum, AgentNric) VALUES
('2023-03-15', '13-05', 'S9123456L'),
('2021-07-22', '01-018', 'S9234567M'),
('2022-11-05', '17-364', 'S9345678N'),
('2024-01-09', '09-02', 'S9345678N'),
('2020-05-30', '15-127', 'S9456789P');

-- Insert into Property2 before inserting into PropertyMain
INSERT INTO Property2 (Postcode, Street) VALUES
('123456', 'Orchard Road'),
('123467', 'Ang Mo Kio Road'),
('123478', 'Bukit Timah Road'),
('123489', 'Ang Mo Kio Avenue'),
('123490', 'Yishun Ring Road');

-- Insert data into PropertyMain table
INSERT INTO PropertyMain (
    UnitNum, PropertyOwnerId, Type, Postcode, Size, Furnishing
) VALUES
('13-05', 1, 'Condo', '123456', 1000, 'Furnished'),
('01-018', 2, 'Apartment', '123467', 850, 'Unfurnished'),
('17-364', 3, 'HDB', '123478', 900, 'Partially Furnished'),
('09-02', 4, 'Bungalow', '123489', 2000, 'Furnished'),
('15-127', 5, 'Terrace', '123490', 1200, 'Unfurnished');

-- Insert into Sale_2 before inserting into Sale_Main
INSERT INTO Sale2 (BuildYear, Tenure) VALUES
(1930, 99),
(2012, 999),
(1935, 99),
(2018, 999),
(2020, 99);

-- Insert data into Sale_Main table
INSERT INTO SaleMain (ListingId, Price, BuildYear) VALUES
(1, 850000, 2012),
(2, 650000, 1930),
(3, 750000, 2018),
(4, 920000, 1935),
(5, 670000, 2020);

-- Insert data into Rental table
INSERT INTO Rental (ListingId, HasUtilities, HasAirCon) VALUES
(1, 'TRUE', 'TRUE'),
(2, 'FALSE', 'TRUE'),
(3, 'TRUE', 'FALSE'),
(4, 'TRUE', 'TRUE'),
(5, 'FALSE', 'FALSE');

-- Insert data into ShortTermRental table
INSERT INTO ShortTermRental (ListingId, DailyRental) VALUES
(1, 20.20),
(2, 30.30),
(3, 25.20),
(4, 20.30),
(5, 24.20);

-- Insert data into LongTermRental table
INSERT INTO LongTermRental (
    ListingId, MonthlyRental, MinStay, AllowVisitors
) VALUES
(1, 345.50, 21, 'FALSE'),
(2, 332.50, 22, 'TRUE'),
(3, 300.40, 20, 'TRUE'),
(4, 355.50, 25, 'FALSE'),
(5, 322.50, 24, 'TRUE');

-- Insert data into Engagement table
INSERT INTO Engagement (CustomerId, ListingId) VALUES
('S1234567A', 1),
('S2345678B', 2),
('S3456789C', 3),
('S4567890D', 4),
('S5678901E', 5),
('S1234567A', 3),
('S2345678B', 5);

-- Insert data into Appointment table
INSERT INTO Appointment (
    CustomerId, ListingId, AppointmentDate, AppointmentTime
) VALUES
('S1234567A', 1, '2024-10-20', '14:00'),
('S2345678B', 2, '2024-10-21', '10:30'),
('S3456789C', 3, '2024-10-22', '16:45'),
('S4567890D', 4, '2024-10-23', '11:15'),
('S5678901E', 5, '2024-10-24', '15:30'),
('S1234567A', 3, '2024-10-25', '09:00'),
('S2345678B', 5, '2024-10-26', '13:45');

-- Insert data into AppointmentLog table
INSERT INTO AppointmentLog (
    CustomerId, ListingId, AppointmentDate, Time, Status, ActionBy
) VALUES
('S1234567A', 1, '2024-10-20', '2024-10-20 14:00', 'Requested', 'S1234567A'),
('S2345678B', 2, '2024-10-21', '2024-10-21 10:30', 'Requested', 'S2345678B'),
('S3456789C', 3, '2024-10-22', '2024-10-22 16:45', 'Requested', 'S3456789C'),
('S4567890D', 4, '2024-10-23', '2024-10-23 11:15', 'Requested', 'S4567890D'),
('S5678901E', 5, '2024-10-24', '2024-10-24 15:30', 'Requested', 'S5678901E'),
('S1234567A', 1, '2024-10-20', '2024-11-20 14:15', 'Confirmed', 'S9123456L'),
('S2345678B', 2, '2024-10-21', '2024-11-21 10:45', 'Confirmed', 'S9234567M'),
('S3456789C', 3, '2024-10-22', '2024-10-22 17:00', 'Rejected', 'S9345678N'),
('S4567890D', 4, '2024-10-23', '2024-11-23 11:30', 'Confirmed', 'S9345678N'),
('S2345678B', 2, '2024-10-21', '2024-12-21 10:45', 'Completed', 'S2345678B'),
('S5678901E', 5, '2024-10-24', '2024-12-24 15:30', 'Completed', 'S5678901E'),
('S4567890D', 4, '2024-10-23', '2024-12-23 11:30', 'Completed', 'S4567890D');

-- Insert data into ViewingHistory table
INSERT INTO ViewingHistory (CustomerId, ListingId, DateTime, Status) VALUES
('S1234567A', 1, '2024-9-18', 'New'),
('S2345678B', 2, '2024-9-19', 'Viewed 3 times'),
('S3456789C', 3, '2024-9-20', 'Viewed 5 times'),
('S4567890D', 4, '2024-9-21', 'Viewed 2 times'),
('S5678901E', 5, '2024-9-22', 'Viewed 7 times'),
('S1234567A', 1, '2024-10-18', 'In Discussion'),
('S2345678B', 2, '2024-10-19', 'In Discussion'),
('S3456789C', 3, '2024-10-20', 'In Discussion'),
('S4567890D', 4, '2024-10-21', 'In Discussion'),
('S5678901E', 5, '2024-10-22', 'In Discussion'),
('S2345678B', 2, '2024-11-19', 'Completed'),
('S4567890D', 4, '2024-11-20', 'Completed');


-- Insert data into Chat table
INSERT INTO Chat (CustomerId, ListingId, TimeStamp, Content) VALUES
('S1234567A', 1, '2024-10-18 14:00', '> Hi, I am interested in this property'),
('S2345678B', 2, '2024-10-19 11:00', '> Hi, is this property available'),
('S3456789C', 3, '2024-10-20 19:17', '> How do I book an appointment?'),
('S4567890D', 4, '2024-10-21 14:25', '> Thank you! <3'),
('S5678901E', 5, '2024-10-22 13:01', '> I don''t want this anymore.');

-- Insert data into ReviewLog table
INSERT INTO ReviewLog (ListingId, UserNric, DateTime, Comment, Rating) VALUES
(
    1,
    'S1234567A',
    '2024-10-26 14:00',
    '> I regret spending time with this agent',
    1
),
(
    2,
    'S2345678B',
    '2024-10-27 11:00',
    '> Agent is supportive! Love the attitude',
    5
),
(3, 'S3456789C', '2024-10-28 19:17', '> Nice house, I bought it', 3),
(4, 'S4567890D', '2024-10-29 14:25', '> What a haunted house', 2),
(5, 'S5678901E', '2024-10-30 13:01', '> The agent is terrible', 1);

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

15 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

5 rows affected.

7 rows affected.

7 rows affected.

12 rows affected.

12 rows affected.

5 rows affected.

5 rows affected.

++
||
++
++

# Queries
1. List the properties for sale in Ang Mo Kio that have 20 years or less remaining on their tenure.

In [9]:
%%sql
SELECT
    pm.UnitNum,
    pm.PropertyOwnerId,
    pm.[Type],
    pm.Postcode,
    pm.Size,
    pm.Furnishing,
    sm.ListingId,
    sm.Price,
    sm.BuildYear,
    s2.Tenure
FROM
    PropertyMain pm
JOIN
    Property2 p2 ON pm.Postcode = p2.Postcode
JOIN
    Listing l ON pm.UnitNum = l.UnitNum
JOIN
    SaleMain sm ON sm.ListingId = l.Id
JOIN
    Sale2 s2 ON sm.BuildYear = s2.BuildYear
WHERE
    p2.Street LIKE '%Ang Mo Kio%'
    AND (s2.BuildYear + s2.Tenure) >= YEAR(GETDATE())
    AND (s2.BuildYear + s2.Tenure) - YEAR(GETDATE()) <= 20;

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+---------+-----------------+-----------+----------+------+-------------+-----------+-----------+-----------+--------+
| UnitNum | PropertyOwnerId |    Type   | Postcode | Size |  Furnishing | ListingId |   Price   | BuildYear | Tenure |
+---------+-----------------+-----------+----------+------+-------------+-----------+-----------+-----------+--------+
|  01-018 |        2        | Apartment |  123467  | 850  | Unfurnished |     2     | 650000.00 |    1930   |   99   |
|  09-02  |        4        |  Bungalow |  123489  | 2000 |  Furnished  |     4     | 920000.00 |    1935   |   99   |
+---------+-----------------+-----------+----------+------+-------------+-----------+-----------+-----------+--------+

TODO: EXPLAIN

2. Generate a statistic showing number of listings categorized by property type and furnished status between year 1 Jan 2022 to 31 Dec 2023.

In [10]:
# TODO

TODO: EXPLAIN

3. Show the agency’s name, manager’s name, year, and the total sales amount for each agency by year. The total sales amount should reflect the cumulative property sales prices completed by respective agents. Arrange the list chronologically from the earliest year to the most recent and sort by sales amount in descending order within each year.

In [11]:
# TODO

TODO: EXPLAIN

4. List all customer’s name, email and their engagement information where they have initiated a chat with an agent, completed appointment, but have not completed the deal for rental listing. We would like to send them a followup message.

In [12]:
%%sql
SELECT u.Name, u.Email, e.*
FROM [User] AS u
    -- select only customers with engagements
    INNER JOIN Engagement AS e ON e.CustomerId = u.Nric
    -- select only customers that has initiated chats
    INNER JOIN Chat AS c ON
        c.CustomerID = u.Nric AND c.ListingId = e.ListingId
    -- select only customers that have completed appointments
    INNER JOIN AppointmentLog AS a ON
        a.CustomerID = u.Nric AND a.ListingId = e.ListingID AND a.Status = 'Completed'
-- exclude customers that have completed the deal
WHERE NOT EXISTS (
    SELECT 1
    FROM ViewingHistory AS v
    WHERE v.CustomerId = u.Nric AND e.ListingId = v.ListingId AND v.Status = 'Completed'
)

Running query in 'mssql+pyodbc://sa:***@152.42.253.110:8080/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server'

+-------------+-------------------------+------------+-----------+
|     Name    |          Email          | CustomerId | ListingId |
+-------------+-------------------------+------------+-----------+
| Charlie Lim | charlie.lim@example.com | S5678901E  |     5     |
+-------------+-------------------------+------------+-----------+

**Explaination**

This SQL query retrieves information about users and their engagements that:

1. It selects the user's Name, Email, and all columns from the Engagement table.

2. It joins four tables: User, Engagement, Chat, and AppointmentLog.

3. The joins ensure that:
   - The user has engagements
   - The user has initiated chats for those engagements
   - The user has completed appointments for those engagements

4. The WHERE clause excludes users who have completed deals, by checking if there's no entry in the ViewingHistory table with a 'Completed' status for the same customer and listing.

5. Identify the top three most engaging agents with a valid license for each year from 2020 to 2023.
An engaging agent is defined as one who has completed the highest number of appointments, with each appointment having at least two chat messages. Completed appointments without chat messages should not be counted. For each agent, display their name, license validity, and affiliation.

In [13]:
# TODO

TODO: EXPLAIN

6. Create a trigger to calculate the total views for all properties and update its engagement status accordingly.

In [14]:
# TODO

TODO: EXPLAIN